<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Sandbox</title>

    <link rel="icon" type="image/png" href="/assets/images/icon.png">
    <link rel="stylesheet" href="/assets/style/main.css">
</head>
<body class="line-numbers">
<header>
</header>

<main>
    <div class="code-container">
        <div id="editor" class="content">
            <span class="start-token token delimiter important">&lt;?php</span>
        </div>
        <button class="run-code">Run</button>
    </div>
    <div class="content parent-content">
        <div id="output" class="content"><i>No output</i></div>

        <div class="details">
            <b>PHP version :</b> {{ php_version }}<br>
            <b>Error reporting :</b> {{ reported_errors | join(', ') }}<br>
            <b>Loaded extensions :</b> {{ loaded_extensions | join(', ') | lower }}
        </div>
    </div>
</main>

<script src="/build/webpack/main.js"></script>
</body>
</html>